NAME=name_of_your_DB
USER=your_user_DB
PASSWORD=password_of_your_DB
HOST=host_of_your_DB
PORT=port_of_your_DB

SECRET_KEY= for django settings.py
DEBUG= boolean
LST_EXCEPTION=your list of exception

EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='smtp.mail.ru' if your email on mail.ru
EMAIL_PORT=2525 if your email on mail.ru
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER='your_email@mail.ru' if your email on mail.ru
EMAIL_HOST_PASSWORD='your-app-password'