{% extends 'authorization/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}

<h1 class="mb-4">Список товаров</h1>

<ul>
  {% if user.is_moderator %}
  {% elif user.is_active %}
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Выберите категорию товаров
      </a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="{% url 'authorization:category_detail' pk=1 %}">Овощи</a></li>
        <li><a class="dropdown-item" href="{% url 'authorization:category_detail' pk=2 %}">Фрукты</a></li>
      </ul>
    </div>
    <a class="btn btn-dark" href="{% url 'authorization:product_create' %}">Добавить товар</a>
  {% endif %}
        {{ form.as_p }}
        {% for product in products %}
        {% if product.is_published %}
        <div class="card">
            <div class="card-body">
                <li class="list-group-item">
                    Название товара:
                    <a href="{% url 'authorization:product_detail' product.pk %}">{{ product.name }}</a>
                </li>
                <li class="list-group-item">Категория товара: {{ product.category }}</li>
                <li class="list-group-item">Описание товара: {{ product.descriptions | truncatechars:100 }}</li>
            </div>
        </div>
        {% else %}
            {% if user.is_moderator %}
                <div class="card">
                    <div class="card-body">
                        <li class="list-group-item">
                            Название товара:
                            <a href="{% url 'authorization:product_detail' product.pk %}">{{ product.name }}</a>
                        </li>
                        <li class="list-group-item">Категория товара: {{ product.category }}</li>
                        <li class="list-group-item">Описание товара: {{ product.descriptions | truncatechars:100 }}</li>
                    </div>
                </div>
            {% endif %}
        {% endif %}
        {% empty %}
        <li>Нет доступных продуктов.</li>
        {% endfor %}
</ul>
{% include "authorization/floor.html" %}
{% endblock %}