{% extends 'authorization/base.html' %}

{% block title %}Каталог{% endblock %}

{% block content %}

<h1 class="mb-4">Список товаров</h1>

<ul>
  {% if user.is_active %}
    {% if perms.authorization.can_unpublish_product %}
        <a class="btn btn-dark" href="{% url 'authorization:product_create' %}">Добавить товар</a>
    {% endif %}
  {% else %}
  {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        {% for product in products %}
        <div class="card">
            <div class="card-body">
                <li class="list-group-item">
                    Название товара:
                    <a href="{% url 'authorization:product_detail' product.pk %}">{{ product.name }}</a>
                </li>
                <li class="list-group-item">Категория товара: {{ product.category }}</li>
                <li class="list-group-item">Описание товара: {{ product.descriptions | truncatechars:100 }}</li>
            </div>
        </div>
        {% empty %}
        <li>Нет доступных продуктов.</li>
        {% endfor %}
</ul>
{% include "authorization/floor.html" %}
{% endblock %}